.Normativ{
    width: 100px;
    margin: 0 35px 0 35px;
}

#norm{
    background-image: repeating-linear-gradient(-45deg, transparent 0 10px, #4ab6e8 10px 20px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    min-height: 15px;
}

.normNumber{
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    color: black;
}